.col{
    height: 300px;
    width: 19%;
    border:white 5px solid;
    background-color: black;
    float: left;
    color: white;
}
.col:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
img{
    height: 200px;
    width: 100%;
    border-radius: ;
}
h1{
    text-align: center;
}
button{
    background-color: brown;
    color: black;
    height: 50px;
    width: 100px;
    border-radius:50px ;
}
button:hover{
    background-color: aquamarine;
    color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}